{% extends "shop/layout.html" %}

{% block extra_head %}
<script>
$(function() {
    $('.rating').click(function() {
        var score = $(this).data('score');
        if ( confirm(score + "점을 주시겠습니까?") ) {
            var url = $(this).attr('href');
            $.post(url, {score: score}, function(response, status, xhr) {
                if ( xhr.status == 200 ) {
                    alert('평점저장!');
                }
                else {
                    alert('오류 : ' + xhr.status);
                }
            });
        }
        return false;
    });
});
</script>
{% endblock %}

{% block content %}
    <ul>
    {% for shop in shop_list %}
    <li>
        <a href="{% url "shop:shop_detail" shop.pk %}">{{ shop.name }}</a>

        <span class="label label-info">{{ shop.score_point }}</span>

        <a href="{% url "shop:rating_new" shop.pk %}">평점주기</a>

        <a href="{% url "shop:rating_new" shop.pk %}" class="rating" data-score="5">
            5점주기
        </a>
        <a href="{% url "shop:rating_new" shop.pk %}" class="rating" data-score="4">
            4점주기
        </a>
        <a href="{% url "shop:rating_new" shop.pk %}" class="rating" data-score="3">
            3점주기
        </a>
        <a href="{% url "shop:rating_new" shop.pk %}" class="rating" data-score="2">
            2점주기
        </a>
        <a href="{% url "shop:rating_new" shop.pk %}" class="rating" data-score="1">
            1점주기
        </a>
    </li>
    {% endfor %}
    </ul>
{% endblock %}

